<a href="https://colab.research.google.com/github/DevD000/hexaware_training_2/blob/main/Pyspark.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=202a489662f6fc819f8934d43133bb26e3f467fcc80a401948017faeb4748365
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [4]:
# Import PySpark and initialize a Spark session
from pyspark.sql import SparkSession

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("PySpark Notebook Example") \
    .getOrCreate()

# Verify the Spark session is working
spark

In [3]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("PySpark DataFrame Example") \
    .getOrCreate()

# Sample data representing employees
data = [
    ("John Doe", "Engineering", 75000),
    ("Jane Smith", "Marketing", 60000),
    ("Sam Brown", "Engineering", 80000),
    ("Emily Davis", "HR", 50000),
    ("Michael Johnson", "Marketing", 70000),
]

# Define schema for DataFrame
columns = ["Name", "Department", "Salary"]

# Create DataFrame
df = spark.createDataFrame(data, schema=columns)

# Show the DataFrame
df.show()

+---------------+-----------+------+
|           Name| Department|Salary|
+---------------+-----------+------+
|       John Doe|Engineering| 75000|
|     Jane Smith|  Marketing| 60000|
|      Sam Brown|Engineering| 80000|
|    Emily Davis|         HR| 50000|
|Michael Johnson|  Marketing| 70000|
+---------------+-----------+------+

In [4]:
high_salary_df=df.filter(col("Salary")>65000)
print("employees with salary >65000")
high_salary_df.show()

employees with salary >65000
+---------------+-----------+------+
|           Name| Department|Salary|
+---------------+-----------+------+
|       John Doe|Engineering| 75000|
|      Sam Brown|Engineering| 80000|
|Michael Johnson|  Marketing| 70000|
+---------------+-----------+------+

In [9]:
from pyspark.sql import SparkSession
from pyspark.sql. functions import col
 # Initialize SparkSession
spark = SparkSession.builder \
    .appName("Customer Transaction Analysis") \
    .getOrCreate()
 # sample data for customers
customers= [
  (1,  "Ravi " ,"Mumbai "),
  (2, "Priya" ,  "Delhi"),
  (3, "Vijay", "Bangalore"),
  (4, "Anita " , " Chennai "),
  (5,"Raj","Hyderabad" ), ]


 # Sample data for transactions
transactions = [
 (1, 1, 10000.50),
 (2, 2, 20000.75 ),
 (3, 1, 15000.25 ),
 (4, 3, 30000.00 ),
 (5, 2 ,40000.50 ),
 (6, 4 ,25000.00 ),
 (7, 5, 18000.75 ),
 (8, 1, 5000.00)]

# Define schema for DataFrames

customer_columns = ["Customer ID", "Name", "City" ]
transaction_columns = ["Transaction1D", "Customer ID", "Amount" ]
# create DataFrames

customer_df = spark . createDataFrame (customers, schema=customer_columns)
transaction_df = spark. createDataFrame (transactions, schema=transaction_columns)

# Show the Datauames
print ("Customers DataFrame : ")
customer_df. show ( )
print ("Transactions DataFrame : ")
transaction_df . show()

Customers DataFrame :
+-----------+------+---------+
|Customer ID|  Name|     City|
+-----------+------+---------+
|          1| Ravi |  Mumbai |
|          2| Priya|    Delhi|
|          3| Vijay|Bangalore|
|          4|Anita | Chennai |
|          5|   Raj|Hyderabad|
+-----------+------+---------+

Transactions DataFrame :
+-------------+-----------+--------+
|Transaction1D|Customer ID|  Amount|
+-------------+-----------+--------+
|            1|          1| 10000.5|
|            2|          2|20000.75|
|            3|          1|15000.25|
|            4|          3| 30000.0|
|            5|          2| 40000.5|
|            6|          4| 25000.0|
|            7|          5|18000.75|
|            8|          1|  5000.0|
+-------------+-----------+--------+

In [23]:
# Join the DataFrames on Customer ID
customer_transactions_df = customer_df . join (transaction_df,  on ="Customer ID" )

print ("customer Transactions DataFrame:" )
customer_transactions_df . show ( )

# calculate the total amount spent by each customer
total_spent_df = customer_transactions_df.groupBy( "Name").sum( "Amount").withColumnRenamed("sum(Amount)",
"Total spent" )
print ("Total Amount spent by Each customer : ")


total_spent_df.show()

# # Find customers who have spent more than
big_spenders_df = total_spent_df . filter (col("Total spent" )> 30000)
print (
"Customers Who Spent More Than ? 30, 000: " )
big_spenders_df . show ( )


# # Count the number of transactions per customer
transactions_count_df = customer_transactions_df . groupBy ("Name").count().withColumnRenamed ( "count " , "Transactioncount ")
print ( "Number of Transactions per customer : ")
transactions_count_df. show ()

# # sort customers by total amount spent in descending order
sorted_spenders_df = total_spent_df. orderBy (col ("Total spent") .desc() )
print ("Customers sorted by Total spent (Descending) : ")
sorted_spenders_df. show ()

customer Transactions DataFrame:
+-----------+------+---------+-------------+--------+
|Customer ID|  Name|     City|Transaction1D|  Amount|
+-----------+------+---------+-------------+--------+
|          1| Ravi |  Mumbai |            1| 10000.5|
|          1| Ravi |  Mumbai |            3|15000.25|
|          1| Ravi |  Mumbai |            8|  5000.0|
|          2| Priya|    Delhi|            2|20000.75|
|          2| Priya|    Delhi|            5| 40000.5|
|          3| Vijay|Bangalore|            4| 30000.0|
|          4|Anita | Chennai |            6| 25000.0|
|          5|   Raj|Hyderabad|            7|18000.75|
+-----------+------+---------+-------------+--------+

Total Amount spent by Each customer :
+------+-----------+
|  Name|Total spent|
+------+-----------+
|Anita |    25000.0|
| Ravi |   30000.75|
| Priya|   60001.25|
| Vijay|    30000.0|
|   Raj|   18000.75|
+------+-----------+

Customers Who Spent More Than ? 30, 000:
+-----+-----------+
| Name|Total spent|
+-----+-----------+
|Ravi |   30000.75|
|Priya|   60001.25|
+-----+-----------+

Number of Transactions per customer :
+------+-----+
|  Name|count|
+------+-----+
|Anita |    1|
| Ravi |    3|
| Priya|    2|
| Vijay|    1|
|   Raj|    1|
+------+-----+

Customers sorted by Total spent (Descending) :
+------+-----------+
|  Name|Total spent|
+------+-----------+
| Priya|   60001.25|
| Ravi |   30000.75|
| Vijay|    30000.0|
|Anita |    25000.0|
|   Raj|   18000.75|
+------+-----------+

In [31]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

# Initialize SparkSession
spark = SparkSession.builder \
    .appName("Product Sales Analysis") \
    .getOrCreate()

# Sample data for products
products = [
    (1, "Laptop", "Electronics", 50000),
    (2, "Smartphone", "Electronics", 30000),
    (3, "Table", "Furniture", 15000),
    (4, "Chair", "Furniture", 5000),
    (5, "Headphones", "Electronics", 2000),
]

# Sample data for sales transactions
sales = [
    (1, 1, 2),
    (2, 2, 1),
    (3, 3, 3),
    (4, 1, 1),
    (5, 4, 5),
    (6, 2, 2),
    (7, 5, 10),
    (8, 3, 1),
]


# Define schema for DataFrames
product_columns = ["ProductID", "ProductName", "Category", "Price"]
sales_columns = ["SaleID", "ProductID", "Quantity"]

# Create DataFrames
product_df = spark.createDataFrame(products, schema=product_columns)
sales_df = spark.createDataFrame(sales, schema=sales_columns)

# Show the DataFrames
print("Products DataFrame:")
product_df.show()

print("Sales DataFrame:")
sales_df.show()

# 1. **Join the DataFrames:**
#    - Join the `product_df` and `sales_df` DataFrames on `ProductID` to create a combined DataFrame with product and sales data.
combined_df = sales_df.join(product_df, on="ProductID", how="inner")
print("Combined DataFrame (Products + Sales):")
combined_df.show()


# 2. **Calculate Total Sales Value:**
#    - For each product, calculate the total sales value by multiplying the price by the quantity sold.
combined_df = combined_df.withColumn("TotalSalesValue", col("Price") * col("Quantity"))
print("DataFrame with Total Sales Value:")
combined_df.show()

# 3. **Find the Total Sales for Each Product Category:**
#    - Group the data by the `Category` column and calculate the total sales value for each product category.
category_sales_df = combined_df.groupBy("Category").sum("TotalSalesValue").withColumnRenamed("sum(TotalSalesValue)","TotalCategorySales")
print("Total Sales for Each Product Category:")
category_sales_df.show()


# 4. **Identify the Top-Selling Product:**
#    - Find the product that generated the highest total sales value.
top_selling_product_df = combined_df.groupBy("ProductID", "ProductName").sum("TotalSalesValue").withColumnRenamed("sum(TotalSalesValue)","TotalSalesValue")
top_selling_product_df = top_selling_product_df.orderBy(col("TotalSalesValue").desc())
print("Top-Selling Product:")
top_selling_product_df.show(1)


# 5. **Sort the Products by Total Sales Value:**
#    - Sort the products by total sales value in descending order.
sorted_products_df = top_selling_product_df.orderBy(col("TotalSalesValue").desc())
print("Products Sorted by Total Sales Value:")
sorted_products_df.show()


# 6. **Count the Number of Sales for Each Product:**
#    - Count the number of sales transactions for each product.
sales_count_df = combined_df.groupBy("ProductID", "ProductName").count().withColumnRenamed("count()","NumberOfSales")
print("Number of Sales for Each Product:")
sales_count_df.show()


# 7. **Filter the Products with Total Sales Value Greater Than ₹50,000:**
#    - Filter out the products that have a total sales value greater than ₹50,000.
high_sales_df = top_selling_product_df.filter(col("TotalSalesValue") > 50000)
print("Products with Total Sales Value Greater Than ₹50,000:")
high_sales_df.show()

Products DataFrame:
+---------+-----------+-----------+-----+
|ProductID|ProductName|   Category|Price|
+---------+-----------+-----------+-----+
|        1|     Laptop|Electronics|50000|
|        2| Smartphone|Electronics|30000|
|        3|      Table|  Furniture|15000|
|        4|      Chair|  Furniture| 5000|
|        5| Headphones|Electronics| 2000|
+---------+-----------+-----------+-----+

Sales DataFrame:
+------+---------+--------+
|SaleID|ProductID|Quantity|
+------+---------+--------+
|     1|        1|       2|
|     2|        2|       1|
|     3|        3|       3|
|     4|        1|       1|
|     5|        4|       5|
|     6|        2|       2|
|     7|        5|      10|
|     8|        3|       1|
+------+---------+--------+

Combined DataFrame (Products + Sales):
+---------+------+--------+-----------+-----------+-----+
|ProductID|SaleID|Quantity|ProductName|   Category|Price|
+---------+------+--------+-----------+-----------+-----+
|        1|     1|       2|     Laptop|Electronics|50000|
|        1|     4|       1|     Laptop|Electronics|50000|
|        2|     2|       1| Smartphone|Electronics|30000|
|        2|     6|       2| Smartphone|Electronics|30000|
|        3|     3|       3|      Table|  Furniture|15000|
|        3|     8|       1|      Table|  Furniture|15000|
|        4|     5|       5|      Chair|  Furniture| 5000|
|        5|     7|      10| Headphones|Electronics| 2000|
+---------+------+--------+-----------+-----------+-----+

DataFrame with Total Sales Value:
+---------+------+--------+-----------+-----------+-----+---------------+
|ProductID|SaleID|Quantity|ProductName|   Category|Price|TotalSalesValue|
+---------+------+--------+-----------+-----------+-----+---------------+
|        1|     1|       2|     Laptop|Electronics|50000|         100000|
|        1|     4|       1|     Laptop|Electronics|50000|          50000|
|        2|     2|       1| Smartphone|Electronics|30000|          30000|
|        2|     6|       2| Smartphone|Electronics|30000|          60000|
|        3|     3|       3|      Table|  Furniture|15000|          45000|
|        3|     8|       1|      Table|  Furniture|15000|          15000|
|        4|     5|       5|      Chair|  Furniture| 5000|          25000|
|        5|     7|      10| Headphones|Electronics| 2000|          20000|
+---------+------+--------+-----------+-----------+-----+---------------+

Total Sales for Each Product Category:
+-----------+------------------+
|   Category|TotalCategorySales|
+-----------+------------------+
|Electronics|            260000|
|  Furniture|             85000|
+-----------+------------------+

Top-Selling Product:
+---------+-----------+---------------+
|ProductID|ProductName|TotalSalesValue|
+---------+-----------+---------------+
|        1|     Laptop|         150000|
+---------+-----------+---------------+
only showing top 1 row

Products Sorted by Total Sales Value:
+---------+-----------+---------------+
|ProductID|ProductName|TotalSalesValue|
+---------+-----------+---------------+
|        1|     Laptop|         150000|
|        2| Smartphone|          90000|
|        3|      Table|          60000|
|        4|      Chair|          25000|
|        5| Headphones|          20000|
+---------+-----------+---------------+

Number of Sales for Each Product:
+---------+-----------+-----+
|ProductID|ProductName|count|
+---------+-----------+-----+
|        1|     Laptop|    2|
|        2| Smartphone|    2|
|        3|      Table|    2|
|        4|      Chair|    1|
|        5| Headphones|    1|
+---------+-----------+-----+

Products with Total Sales Value Greater Than ₹50,000:
+---------+-----------+---------------+
|ProductID|ProductName|TotalSalesValue|
+---------+-----------+---------------+
|        1|     Laptop|         150000|
|        2| Smartphone|          90000|
|        3|      Table|          60000|
+---------+-----------+---------------+